<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Game of Code 2021</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
            integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
            crossorigin=""></script>
    <link th:href="@{/app.css}" rel="stylesheet"/>

</head>
<body>

<div id="menu-wrap">
    <nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
        <div class="container">
            <img src="search.webp" alt="search image" width="70" height="35">
            <a href="/" class="navbar-brand">Game of code 2021</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item active">
                        <a href="/" class="nav-link">Events</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about" class="nav-link">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="/contact" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section id="filters">
        <div class="container">
            <div class="card-body">
                <row>
                    <h3 class="text-center">Filter throw our events!</h3>
                </row>
                <hr/>
                <div class="row">
                    <div class="col-md-6 ml-auto">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search Categories...">
                            <div class="input-group-append">
                                <button class="btn btn-success">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Event Name">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Date and Time">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Location">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Categories">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <input type="submit" value="Submit" class="btn btn-outline-danger w-100">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="content" class="py-2 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div id="mapid"></div>
                </div>
                <div class="col-md-6">
                    <div id="event-description" class="card">
                        <p class="ml-30">
                        <div class="card-header">
                            <h4>Event Information</h4>
                        </div>
                        <div class="card-body">
                            <div id="id1" class="ml-30">
                            </div>
                        </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="add-event">
        <div class="container">
            <div class="card p-4">
                <div class="card-body">
                    <h3 class="text-center">Please fill out this form to add event</h3>
                    <hr/>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Event Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Date and Time">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Location">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Categories">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Description"></textarea>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <input type="submit" value="Submit" class="btn btn-outline-danger w-100">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--FOOTER-->
    <footer id="main-footer" class="text-center p-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>Copyright &copy; <span id="year">2021</span> Java Power</p>
                </div>
            </div>
        </div>
    </footer>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var mymap = L.map('mapid').setView([49.611, 6.13], 9);

        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: '© <a href="https://www.mapbox.com/about/maps/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> <strong><a href="https://www.mapbox.com/map-feedback/" target="_blank">Improve this map</a></strong>',
            tileSize: 512,
            maxZoom: 18,
            zoomOffset: -1,
            id: 'mapbox/streets-v11',
            accessToken: 'pk.eyJ1IjoidmVkZW5pbjE5ODAiLCJhIjoiY2tuOTkyNTkyMGhvbzJ3cGRjbXA2djR2ZSJ9.MhYaxggSKZ0APuZgEoS2Qg'
        }).addTo(mymap);

        var events = [[${eventsDto}]];

        for (var key in events) {
            let obj = events[key];

            L.marker([obj.latitude, obj.longitude]).on('click', function (e) {
                change("<p ><b> Name:</b>  <b id=\"name\"></b>" + obj.name + "</p>" +
                    "<p><b> Description:</b> " + obj.description + "</p>" +
                    "<p><b> Date:</b> " + obj.eventTime + "</p>"
                    + "<h1 class=\"text-center\">Photo Gallery</h1>\n" +
                    "<div class=\"row mb-4\">\n" +
                    "            <div class=\"col-md-4\">\n" +
                    "                <a href=\"http://source.unsplash.com/random/160x160\"\n" +
                    "                   data-toggle=\"lightbox\"\n" +
                    "                   data-gallery=\"img-gallery\"\n" +
                    "                   data-height=\"160\"\n" +
                    "                   data-width=\"160\">\n" +
                    "                    <img src=\"http://source.unsplash.com/random/160x160?" + obj.name + "\" alt=\"image\" class=\"img-fluid\">\n" +
                    "                </a>\n" +
                    "            </div>\n" +
                    "            <div class=\"col-md-4\">\n" +
                    "                <a href=\"http://source.unsplash.com/random/160x160\"\n" +
                    "                   data-toggle=\"lightbox\"\n" +
                    "                   data-gallery=\"img-gallery\"\n" +
                    "                   data-height=\"161\"\n" +
                    "                   data-width=\"161\">\n" +
                    "                    <img src=\"http://source.unsplash.com/random/161x161?" + obj.name + "\" alt=\"image\" class=\"img-fluid\">\n" +
                    "                </a>\n" +
                    "            </div>\n" +
                    "            <div class=\"col-md-4\">\n" +
                    "                <a href=\"http://source.unsplash.com/random/160x160\"\n" +
                    "                   data-toggle=\"lightbox\"\n" +
                    "                   data-gallery=\"img-gallery\"\n" +
                    "                   data-height=\"162\"\n" +
                    "                   data-width=\"162\">\n" +
                    "                    <img src=\"http://source.unsplash.com/random/162x162?" + obj.name + "\" alt=\"image\" class=\"img-fluid\">\n" +
                    "                </a>\n" +
                    "            </div>\n" +
                    "        </div>\n" +
                    "        <div class=\"row mb-4\">\n" +
                    "            <div class=\"col-md-4\">\n" +
                    "                <a href=\"http://source.unsplash.com/random/163x163\"\n" +
                    "                   data-toggle=\"lightbox\"\n" +
                    "                   data-gallery=\"img-gallery\"\n" +
                    "                   data-height=\"163\"\n" +
                    "                   data-width=\"163\">\n" +
                    "                    <img src=\"http://source.unsplash.com/random/163x163?" + obj.name + "\" alt=\"image\" class=\"img-fluid\">\n" +
                    "                </a>\n" +
                    "            </div>\n" +
                    "            <div class=\"col-md-4\">\n" +
                    "                <a href=\"http://source.unsplash.com/random/164x164\"\n" +
                    "                   data-toggle=\"lightbox\"\n" +
                    "                   data-gallery=\"img-gallery\"\n" +
                    "                   data-height=\"164\"\n" +
                    "                   data-width=\"164\">\n" +
                    "                    <img src=\"http://source.unsplash.com/random/164x164?" + obj.name + "\" alt=\"image\" class=\"img-fluid\">\n" +
                    "                </a>\n" +
                    "            </div>\n" +
                    "            <div class=\"col-md-4\">\n" +
                    "                <a href=\"http://source.unsplash.com/random/165x165\"\n" +
                    "                   data-toggle=\"lightbox\"\n" +
                    "                   data-gallery=\"img-gallery\"\n" +
                    "                   data-height=\"165\"\n" +
                    "                   data-width=\"165\">\n" +
                    "                    <img src=\"http://source.unsplash.com/random/165x165?" + obj.name + "\" alt=\"image\" class=\"img-fluid\">\n" +
                    "                </a>\n" +
                    "            </div>\n" +
                    "        </div>\n");
            }).addTo(mymap).bindPopup(obj.name).openPopup();
        }

        var popup = L.popup();

        function change(t) {
            document.getElementById("id1").innerHTML = t
        }

        mymap.on('click', function (e) {
           alert("lat = " + e.latlng.lat + ", lng = " + e.latlng.lng);
        });
   /*]]>*/
    </script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>

</div>
</body>
</html>
