<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Game of Code 2021</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
            integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
            crossorigin=""></script>
    <link th:href="@{/app.css}" rel="stylesheet"/>

</head>
<body>

<div id="menu-wrap">
    <nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
        <div class="container">
            <img src="search.webp" alt="search image" width="70" height="35">
            <a href="/" class="navbar-brand">Game of code 2021</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item active">
                        <a href="/" class="nav-link">Events</a>
                    </li>
                    <li class="nav-item">
                        <a href="/ideas" class="nav-link">Week-end ideas</a>
                    </li>
                    <li class="nav-item">
                        <a href="/supermarkets" class="nav-link">Supermarkets</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about" class="nav-link">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="/contact" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header id="page-header" th:style="'background: url(/img/bg.jpg) fixed 0 -300px;'">
        <div class="container py-2">
            <div class="row">
                <div class="col-md-6 m-auto text-center">
                    <p class="text-white display-4">All Luxembourg's Events in one place</p>
                    </p>
                </div>
            </div>
        </div>
    </header>

    <section id="filters">
        <div class="container">
            <form class="container" method="POST" action="/filter"  th:object="${filter}">
                <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h4>Filter throw our events!</h4>
                    </div>
                    <div class="col-md-6 ml-auto">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Key Word..." th:field="*{keyword}">
                            <div class="input-group-append">
                                <button class="btn btn-outline-danger" type="submit">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row py-3">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">Categories</div>
                            <div class="card-body">
                                <div class="form-group float-left">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="family" name="family" th:field="*{family}" onChange="this.form.submit()"/>
                                        <label class="form-check-label" for="family">
                                            Family
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="sport"  name="sport" th:field="*{sport}" onChange="this.form.submit()"/>
                                        <label class="form-check-label" for="sport">
                                            Sport
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="cinema"  name="cinema" th:field="*{cinema}" onChange="this.form.submit()"/>
                                        <label class="form-check-label" for="cinema">
                                            Cinema
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group float-right">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="kids"  name="kids" th:field="*{kids}" onChange="this.form.submit()"/>
                                        <label class="form-check-label" for="kids">
                                            Kids
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="exhibition"  name="exhibition" th:field="*{exhibition}" onChange="this.form.submit()"/>
                                        <label class="form-check-label" for="exhibition">
                                            Exhibition
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="culture"  name="culture" th:field="*{culture}" onChange="this.form.submit()"/>
                                        <label class="form-check-label" for="culture">
                                            Culture
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-header">Free or Paid</div>
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox"  id="freeEvent" th:field="*{free}" onChange="this.form.submit()"/>
                                        <label class="form-check-label" for="freeEvent">
                                            Free Events
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox"  id="paidEvent" th:field="*{paid}" onChange="this.form.submit()"/>
                                        <label class="form-check-label" for="paidEvent">
                                            Paid Events
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card">
                            <div class="card-header">Event Date</div>
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="form-date form-inline">
                                        <label class="form-date-label" for="fromDate">
                                            From:
                                        </label>
                                        <input class="ml-auto form-control form-date-input" type="datetime-local"  id="fromDate"  th:field="*{from}" onChange="this.form.submit()"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-date form-inline">
                                        <label class="form-date-label" for="toDate">
                                            To:
                                        </label>
                                        <input class="ml-auto form-control form-date-input" type="datetime-local"  id="toDate" th:field="*{to}" onChange="this.form.submit()"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </section>
    <section id="content" class="py-2 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div id="mapid"></div>
                </div>
                <div class="col-md-6">
                    <div id="event-description" class="card">
                        <div class="card-body">
                            <div id="id1">
                            </div>
                        </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--FOOTER-->
    <footer id="main-footer" class="text-center p-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>Copyright &copy; <span id="year">2021</span> Java Power</p>
                </div>
            </div>
        </div>
    </footer>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var mymap = L.map('mapid').setView([49.611, 6.13], 9);

        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: '© <a href="https://www.mapbox.com/about/maps/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> <strong><a href="https://www.mapbox.com/map-feedback/" target="_blank">Improve this map</a></strong>',
            tileSize: 512,
            maxZoom: 18,
            zoomOffset: -1,
            id: 'mapbox/streets-v11',
            accessToken: 'pk.eyJ1IjoidmVkZW5pbjE5ODAiLCJhIjoiY2tuOTkyNTkyMGhvbzJ3cGRjbXA2djR2ZSJ9.MhYaxggSKZ0APuZgEoS2Qg'
        }).addTo(mymap);

        var events = [[${eventsDto}]];
        let lastEventInHtml = '';
        for (var key in events) {
            let obj = events[key];
            let price = 'free';
            if (obj.price && obj.price > 0) {
                price = obj.price + " €";
            }
            lastEventInHtml = '<div class="card-body">' +
                '<h2 class="text-center">Event Information</h2>' +
                '<hr/>' +
                "<p ><b> Name:</b>  <b id=\"name\"></b>" + obj.name + "</p>" +
                "<p><b> Description:</b> " + obj.description + "</p>" +
                "<p><b> Category:</b> " + obj.category + "</p>" +
                "<p><b> Date:</b> " + obj.eventTime + "</p>" +
                "<p><b> Price:</b> " +  price + "</p>" +
                "<div class=\"d-flex justify-content-around row-hl\">\n" +
                "                            <div class=\"p-1\"><a href=\"http://facebook.com\"></a><i class=\"fab fa-facebook fa-2x\"></i></div>\n" +
                "                            <div class=\"p-1\"><a href=\"http://twitter.com\"></a><i class=\"fab fa-twitter fa-2x\"></i></div>\n" +
                "                            <div class=\"p-1\"><a href=\"http://instagram.com\"></a><i class=\"fab fa-instagram fa-2x\"></i></div>\n" +
                "                        </div>" +
                "<h3 class=\"text-center\">Photo Gallery</h3>\n" +
                "<div class=\"row mb-4\">\n" +
                "            <div class=\"col-md-4\">\n" +
                "                <a href=\"http://source.unsplash.com/random/160x160\"\n" +
                "                   data-toggle=\"lightbox\"\n" +
                "                   data-gallery=\"img-gallery\"\n" +
                "                   data-height=\"160\"\n" +
                "                   data-width=\"160\">\n" +
                "                    <img src=\"http://source.unsplash.com/random/160x160?" + obj.category + "\" alt=\"image\" class=\"img-fluid\">\n" +
                "                </a>\n" +
                "            </div>\n" +
                "            <div class=\"col-md-4\">\n" +
                "                <a href=\"http://source.unsplash.com/random/160x160\"\n" +
                "                   data-toggle=\"lightbox\"\n" +
                "                   data-gallery=\"img-gallery\"\n" +
                "                   data-height=\"161\"\n" +
                "                   data-width=\"161\">\n" +
                "                    <img src=\"http://source.unsplash.com/random/161x161?" + obj.category + "\" alt=\"image\" class=\"img-fluid\">\n" +
                "                </a>\n" +
                "            </div>\n" +
                "            <div class=\"col-md-4\">\n" +
                "                <a href=\"http://source.unsplash.com/random/160x160\"\n" +
                "                   data-toggle=\"lightbox\"\n" +
                "                   data-gallery=\"img-gallery\"\n" +
                "                   data-height=\"162\"\n" +
                "                   data-width=\"162\">\n" +
                "                    <img src=\"http://source.unsplash.com/random/162x162?" + obj.category + "\" alt=\"image\" class=\"img-fluid\">\n" +
                "                </a>\n" +
                "            </div>\n" +
                "        </div>\n" +
                "        <div class=\"row mb-4\">\n" +
                "            <div class=\"col-md-4\">\n" +
                "                <a href=\"http://source.unsplash.com/random/163x163\"\n" +
                "                   data-toggle=\"lightbox\"\n" +
                "                   data-gallery=\"img-gallery\"\n" +
                "                   data-height=\"163\"\n" +
                "                   data-width=\"163\">\n" +
                "                    <img src=\"http://source.unsplash.com/random/163x163?" + obj.category + "\" alt=\"image\" class=\"img-fluid\">\n" +
                "                </a>\n" +
                "            </div>\n" +
                "            <div class=\"col-md-4\">\n" +
                "                <a href=\"http://source.unsplash.com/random/164x164\"\n" +
                "                   data-toggle=\"lightbox\"\n" +
                "                   data-gallery=\"img-gallery\"\n" +
                "                   data-height=\"164\"\n" +
                "                   data-width=\"164\">\n" +
                "                    <img src=\"http://source.unsplash.com/random/164x164?" + obj.category + "\" alt=\"image\" class=\"img-fluid\">\n" +
                "                </a>\n" +
                "            </div>\n" +
                "            <div class=\"col-md-4\">\n" +
                "                <a href=\"http://source.unsplash.com/random/165x165\"\n" +
                "                   data-toggle=\"lightbox\"\n" +
                "                   data-gallery=\"img-gallery\"\n" +
                "                   data-height=\"165\"\n" +
                "                   data-width=\"165\">\n" +
                "                    <img src=\"http://source.unsplash.com/random/165x165?" + obj.category + "\" alt=\"image\" class=\"img-fluid\">\n" +
                "                </a>\n" +
                "            </div>\n" +
                "        </div>\n " +
                "</div>";

            L.marker([obj.latitude, obj.longitude]).on('click', function (e) {
                change(
                    '<div class="card-body">' +
                    '<h2 class="text-center">Event Information</h2>' +
                    '<hr/>' +
                    "<p ><b> Name:</b>  <b id=\"name\"></b>" + obj.name + "</p>" +
                    "<p><b> Description:</b> " + obj.description + "</p>" +
                    "<p><b> Category:</b> " + obj.category + "</p>" +
                    "<p><b> Date:</b> " + obj.eventTime + "</p>" +
                    "<p><b> Price:</b> " +  price + "</p>" +
                    "<div class=\"d-flex justify-content-around row-hl\">\n" +
                    "                            <div class=\"p-1\"><a href=\"http://facebook.com\"></a><i class=\"fab fa-facebook fa-2x\"></i></div>\n" +
                    "                            <div class=\"p-1\"><a href=\"http://twitter.com\"></a><i class=\"fab fa-twitter fa-2x\"></i></div>\n" +
                    "                            <div class=\"p-1\"><a href=\"http://instagram.com\"></a><i class=\"fab fa-instagram fa-2x\"></i></div>\n" +
                    "                        </div>" +
                    "<h3 class=\"text-center\">Photo Gallery</h3>\n" +
                    "<div class=\"row mb-4\">\n" +
                    "            <div class=\"col-md-4\">\n" +
                    "                <a href=\"http://source.unsplash.com/random/160x160\"\n" +
                    "                   data-toggle=\"lightbox\"\n" +
                    "                   data-gallery=\"img-gallery\"\n" +
                    "                   data-height=\"160\"\n" +
                    "                   data-width=\"160\">\n" +
                    "                    <img src=\"http://source.unsplash.com/random/160x160?" + obj.category + "\" alt=\"image\" class=\"img-fluid\">\n" +
                    "                </a>\n" +
                    "            </div>\n" +
                    "            <div class=\"col-md-4\">\n" +
                    "                <a href=\"http://source.unsplash.com/random/160x160\"\n" +
                    "                   data-toggle=\"lightbox\"\n" +
                    "                   data-gallery=\"img-gallery\"\n" +
                    "                   data-height=\"161\"\n" +
                    "                   data-width=\"161\">\n" +
                    "                    <img src=\"http://source.unsplash.com/random/161x161?" + obj.category + "\" alt=\"image\" class=\"img-fluid\">\n" +
                    "                </a>\n" +
                    "            </div>\n" +
                    "            <div class=\"col-md-4\">\n" +
                    "                <a href=\"http://source.unsplash.com/random/160x160\"\n" +
                    "                   data-toggle=\"lightbox\"\n" +
                    "                   data-gallery=\"img-gallery\"\n" +
                    "                   data-height=\"162\"\n" +
                    "                   data-width=\"162\">\n" +
                    "                    <img src=\"http://source.unsplash.com/random/162x162?" + obj.category + "\" alt=\"image\" class=\"img-fluid\">\n" +
                    "                </a>\n" +
                    "            </div>\n" +
                    "        </div>\n" +
                    "        <div class=\"row mb-4\">\n" +
                    "            <div class=\"col-md-4\">\n" +
                    "                <a href=\"http://source.unsplash.com/random/163x163\"\n" +
                    "                   data-toggle=\"lightbox\"\n" +
                    "                   data-gallery=\"img-gallery\"\n" +
                    "                   data-height=\"163\"\n" +
                    "                   data-width=\"163\">\n" +
                    "                    <img src=\"http://source.unsplash.com/random/163x163?" + obj.category + "\" alt=\"image\" class=\"img-fluid\">\n" +
                    "                </a>\n" +
                    "            </div>\n" +
                    "            <div class=\"col-md-4\">\n" +
                    "                <a href=\"http://source.unsplash.com/random/164x164\"\n" +
                    "                   data-toggle=\"lightbox\"\n" +
                    "                   data-gallery=\"img-gallery\"\n" +
                    "                   data-height=\"164\"\n" +
                    "                   data-width=\"164\">\n" +
                    "                    <img src=\"http://source.unsplash.com/random/164x164?" + obj.category + "\" alt=\"image\" class=\"img-fluid\">\n" +
                    "                </a>\n" +
                    "            </div>\n" +
                    "            <div class=\"col-md-4\">\n" +
                    "                <a href=\"http://source.unsplash.com/random/165x165\"\n" +
                    "                   data-toggle=\"lightbox\"\n" +
                    "                   data-gallery=\"img-gallery\"\n" +
                    "                   data-height=\"165\"\n" +
                    "                   data-width=\"165\">\n" +
                    "                    <img src=\"http://source.unsplash.com/random/165x165?" + obj.category + "\" alt=\"image\" class=\"img-fluid\">\n" +
                    "                </a>\n" +
                    "            </div>\n" +
                    "        </div>\n " +
                    "</div>");
            }).addTo(mymap).bindPopup(obj.name).openPopup();
        }

        var popup = L.popup();
        if (lastEventInHtml === "") {
            lastEventInHtml = '<div class="card-body">' +
                '<h2 class="text-center">There are no events for your request</h2>' +"</div>"
        }
        document.getElementById("id1").innerHTML = lastEventInHtml;
        function change(t) {
            document.getElementById("id1").innerHTML = t
        }

        mymap.on('click', function (e) {
            var addr = '';
            var key = '59fcaf2af1a844219d7a26af38309db7'

            var request = new XMLHttpRequest();
            request.open('GET', 'https://api.opencagedata.com/geocode/v1/json?key=' + key + '&q='+ e.latlng.lat + '%2C+' + e.latlng.lng + '&pretty=1&no_annotations=1', false);  // `false` makes the request synchronous
            request.send(null);

            addr = JSON.parse(request.responseText).results[0].formatted;

            change('<form class="container" method="POST" action="/" th:with="eventDto=${new EventDto()}">' +
                '<div class="card-body">' +
                    '<p class="text-center">Please fill out this form to add event</p>' +
                    '<hr/>' +
                    '<div class="row">' +
                        '<div class="col-md-6">' +
                            '<div class="form-group">' +
                                '<input type="text" class="form-control" placeholder="Event Name" name="name" required>' +
                            '</div>' +
                        '</div>' +
                        '<div class="col-md-6">' +
                            '<div class="form-group">' +
                                '<select class="form-control form-select" placeholder="Category" name="category" required>\n' +
                                    '<option value="" selected disabled>Select Category</option>\n\n' +
                                    '<option value="family">Family</option>\n' +
                                    '<option value="sport">Sport</option>\n' +
                                    '<option value="cinema">Cinema</option>\n' +
                                    '<option value="kids">Kids</option>\n' +
                                    '<option value="exhibition">Exhibition</option>\n' +
                                    '<option value="Culture">Culture</option>\n' +
                                  '</select>' +
                            '</div>' +
                        '</div>' +
                    '</div>' +
                    '<div class="row">' +
                        '<div class="col-md-12">' +
                            '<div class="form-group">' +
                                '<input type="text" onfocus="(this.type=\'datetime-local\')" class="form-control" placeholder="Date and Time " name="eventTime" required>' +
                            '</div>' +
                        '</div>' +
                    '</div>' +
                    '<div class="row">' +
                        '<div class="col-md-12">' +
                            '<div class="form-group">' +
                                '<input type="text" class="form-control" placeholder="Address" name="address" value="'+ addr.toString() + '">' +
                                '<input type="text" class="form-control" placeholder="Lat" name="latitude" value="'+ e.latlng.lat + '" readonly hidden>' +
                                '<input type="text" class="form-control" placeholder="Lng" name="longitude" value="'+ e.latlng.lng +'" readonly hidden>' +
                            '</div>' +
                        '</div>' +
                    '</div>' +
                    '<div class="row">' +
                        '<div class="col-md-6">' +
                            '<div class="form-group">' +
                                '<input type="number" class="form-control" placeholder="Price" name="price"  required>' +
                            '</div>' +
                        '</div>' +
                    '</div>' +
                    '<div class="row">' +
                        '<div class="col-md-12">' +
                            '<div class="form-group">' +
                                '<textarea class="form-control" placeholder="Description" name="description" required></textarea>' +
                            '</div>' +
                        '</div>' +
                        '<div class="col">' +
                            '<div class="form-group">' +
                                '<input type="submit" value="Submit" class="btn btn-outline-danger w-100">' +
                            '</div>' +
                        '</div>' +
                    '</div>' +
                '</div>' +
                '</form>' +
    '</section>');
        });
        /*]]>*/
    </script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>

</div>
</body>
</html>
