<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Game of Code 2021</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
            integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
            crossorigin=""></script>
    <link th:href="@{/app.css}" rel="stylesheet"/>

</head>
<body>

<div id="menu-wrap">
    <nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
        <div class="container">
            <img src="search.webp" alt="search image" width="70" height="35">
            <a href="/" class="navbar-brand">Game of code 2021</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Events</a>
                    </li>
                    <li class="nav-item">
                        <a href="/ideas" class="nav-link">Week-end ideas</a>
                    </li>
                    <li class="nav-item active">
                        <a href="/supermarkets" class="nav-link">Supermarkets</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about" class="nav-link">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="/contact" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section id="filters">
        <div class="container">
           <form class="container" method="POST" action="/supermarkets/filter"  th:object="${filter}">
            <div class="card-body">
                <div class="col">
                    <h4>Filter supermarkets!</h4>
                </div>
                <div class="col-md-6 ml-auto">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Key Word..." th:field="*{keyword}">
                        <div class="input-group-append">
                            <button class="btn btn-outline-danger" type="submit">Search</button>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card">
                            <div class="card-header">Networks</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="lidl" th:field="*{lidl}" onChange="this.form.submit()">
                                                <label class="form-check-label" for="lidl">
                                                    Lidl
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="auchan" th:field="*{auchan}" onChange="this.form.submit()">
                                                <label class="form-check-label" for="auchan">
                                                    Auchan
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="aldi"  th:field="*{aldi}" onChange="this.form.submit()">
                                                <label class="form-check-label" for="aldi">
                                                    Aldi
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="cactus" th:field="*{cactus}" onChange="this.form.submit()">
                                                <label class="form-check-label" for="cactus">
                                                    Cactus
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="delhaize" th:field="*{delhaize}" onChange="this.form.submit()">
                                                <label class="form-check-label" for="delhaize">
                                                    Delhaize
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="colruyt" th:field="*{colruyt}" onChange="this.form.submit()">
                                                <label class="form-check-label" for="colruyt">
                                                    Colruyt
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="monop" th:field="*{monop}" onChange="this.form.submit()">
                                                <label class="form-check-label" for="monop">
                                                    Monop
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="alima" th:field="*{alima}" onChange="this.form.submit()">
                                                <label class="form-check-label" for="alima">
                                                    Alima
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="smatch" th:field="*{smatch}" onChange="this.form.submit()">
                                                <label class="form-check-label" for="smatch">
                                                    SMATCH & MATCH
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            </form>
        </div>
    </section>
    <section id="content" class="py-2 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div id="mapid"></div>
                </div>
                <div class="col-md-6">
                    <div id="event-description" class="card">
                        <p class="ml-30">
                        <div class="card-header">
                            <h4>Supermarket Information</h4>
                        </div>
                        <div class="card-body">
                            <div id="id1" class="ml-30">
                            </div>
                        </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--FOOTER-->
    <footer id="main-footer" class="text-center p-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>Copyright &copy; <span id="year">2021</span> Java Power</p>
                </div>
            </div>
        </div>
    </footer>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var mymap = L.map('mapid').setView([49.611, 6.13], 9);

        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: '© <a href="https://www.mapbox.com/about/maps/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> <strong><a href="https://www.mapbox.com/map-feedback/" target="_blank">Improve this map</a></strong>',
            tileSize: 512,
            maxZoom: 18,
            zoomOffset: -1,
            id: 'mapbox/streets-v11',
            accessToken: 'pk.eyJ1IjoidmVkZW5pbjE5ODAiLCJhIjoiY2tuOTkyNTkyMGhvbzJ3cGRjbXA2djR2ZSJ9.MhYaxggSKZ0APuZgEoS2Qg'
        }).addTo(mymap);

        var events = [[${supermarketsDto}]];

        for (var key in events) {
            let obj = events[key];

            L.marker([obj.latitude, obj.longitude]).on('click', function (e) {
                change("<p ><b> Name:</b>  <b id=\"name\"></b>" + obj.name + "</p>");
            }).addTo(mymap).bindPopup(obj.name).openPopup();
        }

        var popup = L.popup();

        function change(t) {
            document.getElementById("id1").innerHTML = t
        }
       /*]]>*/
    </script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>

</div>
</body>
</html>
